main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border-spacing: 10px;
}

td {
  position: relative;
}

.screen-reader-only {
  font-size: 0;
}

input[type="checkbox"] {
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
}

input[type="checkbox"] + label {
  background: blue;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

input[type="checkbox"]:hover + label {
  background: yellow;
}

input[type="checkbox"]:checked + label {
  background: green;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
}
